USE [master]
GO
/****** Object:  Database [DATA02]    Script Date: 12/26/2023 4:43:30 PM ******/
CREATE DATABASE [DATA02]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DATA02', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DATA02.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DATA02_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DATA02.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DATA02].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DATA02]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 12/26/2023 4:43:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK__Category__3214EC07695ADEAC] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Discount]    Script Date: 12/26/2023 4:43:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Discount](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Amout] [decimal](8, 0) NULL,
	[Code] [nvarchar](50) NULL,
	[StartDay] [datetime] NULL,
	[EndDay] [datetime] NULL,
 CONSTRAINT [PK_Table] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 12/26/2023 4:43:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Description] [nvarchar](500) NULL,
	[ImageUrl] [nvarchar](50) NULL,
	[Price] [decimal](8, 0) NULL,
	[NewPrice] [decimal](8, 0) NULL,
	[Quantity] [int] NULL,
	[IsNew] [bit] NULL,
	[IsBestSeller] [bit] NULL,
	[IsSale] [bit] NULL,
	[CategoryId] [int] NULL,
	[DiscountId] [int] NULL,
 CONSTRAINT [PK__Product__3214EC0727803424] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 12/26/2023 4:43:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[Role] [nvarchar](50) NULL,
 CONSTRAINT [PK__User__3214EC074FF64AA2] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([Id], [Name]) VALUES (1, N'Cà phê truyền thống')
INSERT [dbo].[Category] ([Id], [Name]) VALUES (2, N'Cà phê Americanoericano')
INSERT [dbo].[Category] ([Id], [Name]) VALUES (3, N'Cà phê Latte')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Discount] ON 

INSERT [dbo].[Discount] ([Id], [Name], [Amout], [Code], [StartDay], [EndDay]) VALUES (1, N'ko', CAST(0 AS Decimal(8, 0)), N'00', CAST(N'2023-11-13T00:00:00.000' AS DateTime), CAST(N'2099-11-13T00:00:00.000' AS DateTime))
INSERT [dbo].[Discount] ([Id], [Name], [Amout], [Code], [StartDay], [EndDay]) VALUES (2, N'giam', CAST(3500 AS Decimal(8, 0)), N'01', CAST(N'2023-11-13T00:00:00.000' AS DateTime), CAST(N'2099-11-13T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Discount] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([Id], [Name], [Description], [ImageUrl], [Price], [NewPrice], [Quantity], [IsNew], [IsBestSeller], [IsSale], [CategoryId], [DiscountId]) VALUES (1, N'Cà phê truyền thống', N'Cà phê truyền thống là thức uống không thể thiếu trong thực đơn đồ uống của hầu hết các quán cà phê tại Việt Nam nói riêng và trên thế giới nói chung. Khi nhắc đến cà phê truyền thống, đó chính là loại cà phê được “pha phin” trực tiếp hoặc pha sẵn rồi uống với đá.', N'/mg/product00.png', CAST(10000 AS Decimal(8, 0)), CAST(10000 AS Decimal(8, 0)), 15, 0, 1, 0, 1, 1)
INSERT [dbo].[Product] ([Id], [Name], [Description], [ImageUrl], [Price], [NewPrice], [Quantity], [IsNew], [IsBestSeller], [IsSale], [CategoryId], [DiscountId]) VALUES (2, N'Cà phê Americano', N'Americano là một loại cà phê Mỹ có công thức pha chế giống với cà phê Espresso, tuy nhiên lượng nước nóng được pha loãng vào Espresso nhiều hơn bình thường. Do đó, tùy thuộc vào tỷ lệ giữa cà phê Espresso và lượng nước nóng bổ sung mà hương vị cuối cùng của cà phê sẽ bị ảnh hưởng.', N'/mg/product02.png', CAST(15000 AS Decimal(8, 0)), CAST(15000 AS Decimal(8, 0)), 15, 0, 0, 0, 2, 1)
INSERT [dbo].[Product] ([Id], [Name], [Description], [ImageUrl], [Price], [NewPrice], [Quantity], [IsNew], [IsBestSeller], [IsSale], [CategoryId], [DiscountId]) VALUES (3, N'Cà phê Latte', N'Bản chất của cà phê Latte là sự dung hòa của cà phê Espresso và sữa. Latte được yêu thích bởi sự nhẹ nhàng, hương vị ngọt ngào được hòa quyện bởi sữa, cà phê và lớp bọt sữa mềm mịn, béo ngậy. Đặc biệt, Latte chỉ sử dụng lượng bọt sữa bằng nửa lượng sữa nóng để cho ra thành phẩm như ý nhất.', N'/mg/product03.png', CAST(15000 AS Decimal(8, 0)), CAST(11500 AS Decimal(8, 0)), 15, 0, 1, 1, 3, 2)
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [Name], [Email], [Password], [Role]) VALUES (1, N'trieulam', N'lngoctrieu@gmail.com', N'12345t', N'Administrator')
INSERT [dbo].[User] ([Id], [Name], [Email], [Password], [Role]) VALUES (2, N'nhi', N'nhi123@gmail.com', N'12345t', N'User')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
/****** Object:  Statistic [_WA_Sys_00000002_3B75D760]    Script Date: 12/26/2023 4:43:30 PM ******/
CREATE STATISTICS [_WA_Sys_00000002_3B75D760] ON [dbo].[Category]([Name]) WITH STATS_STREAM = 0x0100000001000000000000000000000055BB33ED000000002203000000000000E202000000000000E7020000E7000000640000000000000008D00034E202000007000000CCC80401E4B000000300000000000000030000000000000000000000ABAAAA3E00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000300000003000000010000001000000000000842000040400000000000000842000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013040000000000000000000000000000C3000000000000005E0100000000000066010000000000006E01000000000000180000000000000047000000000000008400000000000000300010000000803F000000000000803F04000001002F004300E000200070006800EA0020004C006100740074006500300010000000803F000000000000803F04000001003D004300E000200070006800EA0020007400720075007900C11E6E00200074006800D11E6E006700300010000000803F000000000000803F04000001003F004E0055004C004C004300E000200070006800EA00200041006D00650072006900630061006E006F00FF01000000000000000300000003000000280000002800000000000000000000002C0000004300E000200070006800EA0020004C0061007400740065007400720075007900C11E6E00200074006800D11E6E0067004E0055004C004C004300E000200070006800EA00200041006D00650072006900630061006E006F00050000004000000000C0070000008105070000010C0C000001141800000003000000000000000000000000000000,AUTO_DROP = ON
GO
/****** Object:  Statistic [PK__Category__3214EC07695ADEAC]    Script Date: 12/26/2023 4:43:30 PM ******/
UPDATE STATISTICS [dbo].[Category]([PK__Category__3214EC07695ADEAC]) WITH STATS_STREAM = 0x010000000100000000000000000000005EDC986400000000DB010000000000009B01000000000000380300003800000004000A00000000000000000000000000070000003E9F0401E4B0000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000001F0000000000000027000000000000002F000000000000000800000000000000100014000000803F000000000000803F0100000004000001000000000000000000000000000000,ROWCOUNT = 6,PAGECOUNT = 1,AUTO_DROP = OFF
GO
/****** Object:  Statistic [_WA_Sys_00000002_35BCFE0A]    Script Date: 12/26/2023 4:43:30 PM ******/
CREATE STATISTICS [_WA_Sys_00000002_35BCFE0A] ON [dbo].[Discount]([Name]) WITH STATS_STREAM = 0x01000000010000000000000000000000DF997F1B0000000053020000000000001302000000000000E7020000E7000000640000000000000008D0003400000000070000005AAD0501E4B0000002000000000000000200000000000000000000000000003F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000020000000200000001000000100000000000C04000000040000000000000C0400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130400000000000000000000000000004A000000000000008F0000000000000097000000000000009F0000000000000010000000000000002F00000000000000300010000000803F000000000000803F04000001001F006700690061006D00300010000000803F000000000000803F04000001001B006B006F00FF0100000000000000020000000200000028000000280000000000000000000000060000006700690061006D006B006F00030000004000000000810400000001020400000002000000000000000000000000000000,AUTO_DROP = ON
GO
/****** Object:  Statistic [_WA_Sys_00000004_35BCFE0A]    Script Date: 12/26/2023 4:43:30 PM ******/
CREATE STATISTICS [_WA_Sys_00000004_35BCFE0A] ON [dbo].[Discount]([Code]) WITH STATS_STREAM = 0x010000000100000000000000000000000D2E9A31000000004E020000000000000E02000000000000E7020000E7000000640000000000000008D0003400000000070000005BAD0501E4B0000002000000000000000200000000000000000000000000003F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000020000000200000001000000100000000000804000000040000000000000804000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001304000000000000000000000000000046000000000000008A0000000000000092000000000000009A0000000000000010000000000000002B00000000000000300010000000803F000000000000803F04000001001B0030003000300010000000803F000000000000803F04000001001B0030003100FF0100000000000000020000000200000028000000280000000000000000000000030000003000300031000400000040000000004001000000810101000001010200000002000000000000000000000000000000,AUTO_DROP = ON
GO
/****** Object:  Statistic [PK_Table]    Script Date: 12/26/2023 4:43:30 PM ******/
UPDATE STATISTICS [dbo].[Discount]([PK_Table]) WITH STATS_STREAM = 0x0100000001000000000000000000000029B1A98200000000DB010000000000009B01000000000000380300003800000004000A0000000000000000000000000007000000E15D0501E4B0000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000001F0000000000000027000000000000002F000000000000000800000000000000100014000000803F000000000000803F0100000004000001000000000000000000000000000000,ROWCOUNT = 2,PAGECOUNT = 1,AUTO_DROP = OFF
GO
/****** Object:  Statistic [_WA_Sys_00000002_37A5467C]    Script Date: 12/26/2023 4:43:30 PM ******/
CREATE STATISTICS [_WA_Sys_00000002_37A5467C] ON [dbo].[Product]([Name]) WITH STATS_STREAM = 0x0100000001000000000000000000000091550D8700000000BE020000000000007E02000000000000E7020000E7000000C80000000000000008D000340000000007000000A2FB0701E4B0000002000000000000000200000000000000000000000000003F00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000200000002000000010000001000000000000C42000000400000000000000C420000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130400000000000000000000000000008400000000000000FA0000000000000002010000000000000A0100000000000010000000000000004700000000000000300010000000803F000000000000803F040000010037004300E000200070006800EA00200041006D00650072006900630061006E006F00300010000000803F000000000000803F04000001003D004300E000200070006800EA0020007400720075007900C11E6E00200074006800D11E6E006700FF01000000000000000200000002000000280000002800000000000000000000001C0000004300E000200070006800EA00200041006D00650072006900630061006E006F007400720075007900C11E6E00200074006800D11E6E00670004000000400000000040070000008109070000010C1000000002000000000000000000000000000000,AUTO_DROP = ON
GO
/****** Object:  Statistic [_WA_Sys_00000003_37A5467C]    Script Date: 12/26/2023 4:43:30 PM ******/
CREATE STATISTICS [_WA_Sys_00000003_37A5467C] ON [dbo].[Product]([Description]) WITH STATS_STREAM = 0x010000000100000000000000000000006A28ACCA00000000BD070000000000007D07000000000000E7020000E7000000E80300000000000008D000340000000007000000A4FB0701E4B0000002000000000000000200000000000000000000000000003F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000010000000004008440000004000000000004008440000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130400000000000000000000000000008004000000000000F9050000000000000106000000000000090600000000000010000000000000005902000000000000300010000000803F000000000000803F0400000100490241006D00650072006900630061006E006F0020006C00E00020006D00D91E740020006C006F00A11E690020006300E000200070006800EA0020004D00F91E20006300F30020006300F4006E006700200074006800E91E63002000700068006100200063006800BF1E200067006900D11E6E00670020007600DB1E690020006300E000200070006800EA00200045007300700072006500730073006F002C00200074007500790020006E0068006900EA006E0020006C00B001E31E6E00670020006E00B001DB1E630020006E00F3006E00670020001101B001E31E6300200070006800610020006C006F00E3006E00670020007600E0006F00200045007300700072006500730073006F0020006E0068006900C11E750020006800A1016E0020006200EC006E006800200074006800B001DD1E6E0067002E00200044006F0020001101F3002C0020007400F90079002000740068007500D91E630020007600E0006F0020007400F71E20006C00C71E200067006900EF1E610020006300E000200070006800EA00200045007300700072006500730073006F0020007600E00020006C00B001E31E6E00670020006E00B001DB1E630020006E00F3006E00670020006200D51E2000730075006E00670020006D00E00020006800B001A1016E00670020007600CB1E200063007500D11E690020006300F9006E00670020006300E71E610020006300E000200070006800EA0020007300BD1E20006200CB1E2000A31E6E00680020006800B001DF1E6E0067002E00300010000000803F000000000000803F040000010027024300E000200070006800EA0020007400720075007900C11E6E00200074006800D11E6E00670020006C00E000200074006800E91E630020007500D11E6E00670020006B006800F4006E006700200074006800C31E2000740068006900BF1E75002000740072006F006E006700200074006800F11E630020001101A1016E0020001101D31E20007500D11E6E00670020006300E71E610020006800A71E750020006800BF1E740020006300E1006300200071007500E1006E0020006300E000200070006800EA0020007400A11E6900200056006900C71E740020004E0061006D0020006E00F3006900200072006900EA006E00670020007600E000200074007200EA006E00200074006800BF1E200067006900DB1E690020006E00F300690020006300680075006E0067002E0020004B006800690020006E006800AF1E630020001101BF1E6E0020006300E000200070006800EA0020007400720075007900C11E6E00200074006800D11E6E0067002C0020001101F300200063006800ED006E00680020006C00E00020006C006F00A11E690020006300E000200070006800EA0020001101B001E31E630020001C2070006800610020007000680069006E001D20200074007200F11E6300200074006900BF1E7000200068006F00B71E6300200070006800610020007300B51E6E0020007200D31E690020007500D11E6E00670020007600DB1E690020001101E1002E00FF0100000000000000020000000200000028000000280000000000000000000000A000000041006D00650072006900630061006E006F0020006C00E00020006D00D91E740020006C006F00A11E690020006300E000200070006800EA0020004D00F91E20006300F30020006300F4006E00670020007600CB1E200063007500D11E690020006300F9006E00670020006300E71E610020006300E000200070006800EA0020007300BD1E20006200CB1E2000A31E6E00680020006800B001DF1E6E0067002E004300E000200070006800EA0020007400720075007900C11E6E00200074006800D11E6E00670020006C00E000200074006800E91E630020007500D11E6E00670020006B006800F4006E00670020007400200074007200F11E6300200074006900BF1E7000200068006F00B71E6300200070006800610020007300B51E6E0020007200D31E690020007500D11E6E00670020007600DB1E690020001101E1002E00030000004000000000815000000001505000000002000000000000000000000000000000,AUTO_DROP = ON
GO
/****** Object:  Statistic [_WA_Sys_00000004_37A5467C]    Script Date: 12/26/2023 4:43:30 PM ******/
CREATE STATISTICS [_WA_Sys_00000004_37A5467C] ON [dbo].[Product]([ImageUrl]) WITH STATS_STREAM = 0x010000000100000000000000000000006C86307800000000B0020000000000007002000000000000E7020000E7000000640000000000000008D000340000000007000000A5FB0701E4B0000002000000000000000200000000000000000000000000003F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000010000000000008420000004000000000000008420000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130400000000000000000000000000008200000000000000EC00000000000000F400000000000000FC0000000000000010000000000000004900000000000000300010000000803F000000000000803F040000010039002F006D0067002F00700072006F006400750063007400300030002E0070006E006700300010000000803F000000000000803F040000010039002F006D0067002F00700072006F006400750063007400300032002E0070006E006700FF0100000000000000020000000200000028000000280000000000000000000000160000002F006D0067002F00700072006F006400750063007400300030002E0070006E00670032002E0070006E006700040000004000000000400C00000081050C000001051100000002000000000000000000000000000000,AUTO_DROP = ON
GO
/****** Object:  Statistic [_WA_Sys_00000007_37A5467C]    Script Date: 12/26/2023 4:43:30 PM ******/
CREATE STATISTICS [_WA_Sys_00000007_37A5467C] ON [dbo].[Product]([Quantity]) WITH STATS_STREAM = 0x010000000100000000000000000000006D187DF200000000DB010000000000009B01000000000000380200003800000004000A000000000000000000000000000700000095220801E4B0000002000000000000000200000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000004000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000001F0000000000000027000000000000002F0000000000000008000000000000001000140000000040000000000000803F0F00000004000002000000000000000000000000000000,AUTO_DROP = ON
GO
/****** Object:  Statistic [_WA_Sys_00000008_37A5467C]    Script Date: 12/26/2023 4:43:30 PM ******/
CREATE STATISTICS [_WA_Sys_00000008_37A5467C] ON [dbo].[Product]([IsNew]) WITH STATS_STREAM = 0x01000000010000000000000000000000C3B520CB00000000D80100000000000098010000000000006802000068000000010001000000000000000000000000000700000097220801E4B0000002000000000000000200000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000100000001000000110000000000803F00000040000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000001C0000000000000024000000000000002C0000000000000008000000000000001000110000000040000000000000803F0004000002000000000000000000000000000000,AUTO_DROP = ON
GO
/****** Object:  Statistic [_WA_Sys_00000009_37A5467C]    Script Date: 12/26/2023 4:43:30 PM ******/
CREATE STATISTICS [_WA_Sys_00000009_37A5467C] ON [dbo].[Product]([IsBestSeller]) WITH STATS_STREAM = 0x01000000010000000000000000000000971CAD2900000000F401000000000000B4010000000000006802000068000000010001000000000000000000000000000700000097220801E4B0000002000000000000000200000000000000000000000000003F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000020000000200000001000000110000000000803F00000040000000000000803F00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001104000000000000000000000000000038000000000000004000000000000000480000000000000010000000000000002400000000000000100011000000803F000000000000803F00040000100011000000803F000000000000803F0104000002000000000000000000000000000000,AUTO_DROP = ON
GO
/****** Object:  Statistic [_WA_Sys_0000000A_37A5467C]    Script Date: 12/26/2023 4:43:30 PM ******/
CREATE STATISTICS [_WA_Sys_0000000A_37A5467C] ON [dbo].[Product]([IsSale]) WITH STATS_STREAM = 0x01000000010000000000000000000000C3B520CB00000000D80100000000000098010000000000006802000068000000010001000000000000000000000000000700000097220801E4B0000002000000000000000200000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000100000001000000110000000000803F00000040000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000001C0000000000000024000000000000002C0000000000000008000000000000001000110000000040000000000000803F0004000002000000000000000000000000000000,AUTO_DROP = ON
GO
/****** Object:  Statistic [_WA_Sys_0000000B_37A5467C]    Script Date: 12/26/2023 4:43:30 PM ******/
CREATE STATISTICS [_WA_Sys_0000000B_37A5467C] ON [dbo].[Product]([CategoryId]) WITH STATS_STREAM = 0x010000000100000000000000000000002D305DD900000000FA01000000000000BA01000000000000380200003800000004000A000000000000000000000000000700000098220801E4B0000002000000000000000200000000000000000000000000003F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000014000000000080400000004000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000003E0000000000000046000000000000004E0000000000000010000000000000002700000000000000100014000000803F000000000000803F01000000040000100014000000803F000000000000803F0200000004000002000000000000000000000000000000,AUTO_DROP = ON
GO
/****** Object:  Statistic [_WA_Sys_0000000C_37A5467C]    Script Date: 12/26/2023 4:43:30 PM ******/
CREATE STATISTICS [_WA_Sys_0000000C_37A5467C] ON [dbo].[Product]([DiscountId]) WITH STATS_STREAM = 0x01000000010000000000000000000000AE08661B00000000DB010000000000009B01000000000000380200003800000004000A0000000000000000000000000007000000FF240801E4B0000002000000000000000200000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000004000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000001F0000000000000027000000000000002F0000000000000008000000000000001000140000000040000000000000803F0000000004000002000000000000000000000000000000,AUTO_DROP = ON
GO
/****** Object:  Statistic [PK__Product__3214EC0727803424]    Script Date: 12/26/2023 4:43:30 PM ******/
UPDATE STATISTICS [dbo].[Product]([PK__Product__3214EC0727803424]) WITH STATS_STREAM = 0x01000000010000000000000000000000A5066BD800000000DB010000000000009B01000000000000380300003800000004000A000000000000000000000000000700000059AC0601E4B0000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000001F0000000000000027000000000000002F000000000000000800000000000000100014000000803F000000000000803F0100000004000001000000000000000000000000000000,ROWCOUNT = 6,PAGECOUNT = 1,AUTO_DROP = OFF
GO
/****** Object:  Statistic [_WA_Sys_00000002_398D8EEE]    Script Date: 12/26/2023 4:43:30 PM ******/
CREATE STATISTICS [_WA_Sys_00000002_398D8EEE] ON [dbo].[User]([Name]) WITH STATS_STREAM = 0x01000000010000000000000000000000253388A60000000067020000000000002702000000000000E7020000E7000000640000000000000008D000340000000007000000E9BC0B01E4B0000002000000000000000200000000000000000000000000003F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000010000000000030410000004000000000000030410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130400000000000000000000000000005400000000000000A300000000000000AB00000000000000B30000000000000010000000000000002D00000000000000300010000000803F000000000000803F04000001001D006E0068006900300010000000803F000000000000803F04000001002700740072006900650075006C0061006D00FF01000000000000000200000002000000280000002800000000000000000000000B0000006E0068006900740072006900650075006C0061006D00030000004000000000810300000001080300000002000000000000000000000000000000,AUTO_DROP = ON
GO
/****** Object:  Statistic [_WA_Sys_00000004_398D8EEE]    Script Date: 12/26/2023 4:43:30 PM ******/
CREATE STATISTICS [_WA_Sys_00000004_398D8EEE] ON [dbo].[User]([Password]) WITH STATS_STREAM = 0x0100000001000000000000000000000065D84BF5000000002F02000000000000EF01000000000000E7020000E7000000640000000000000008D000340000000007000000E9BC0B01E4B0000002000000000000000200000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000040410000004000000000000040410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130400000000000000000000000000002B000000000000006B0000000000000073000000000000007B0000000000000008000000000000003000100000000040000000000000803F04000001002300310032003300340035007400FF01000000000000000200000001000000280000002800000000000000000000000600000031003200330034003500740002000000400000000002060000000002000000000000000000000000000000,AUTO_DROP = ON
GO
/****** Object:  Statistic [PK__User__3214EC074FF64AA2]    Script Date: 12/26/2023 4:43:30 PM ******/
UPDATE STATISTICS [dbo].[User]([PK__User__3214EC074FF64AA2]) WITH STATS_STREAM = 0x010000000100000000000000000000007EFB125800000000DB010000000000009B01000000000000380300003800000004000A0000000000000000000000000007000000999A0A01E4B0000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000001F0000000000000027000000000000002F000000000000000800000000000000100014000000803F000000000000803F0100000004000001000000000000000000000000000000,ROWCOUNT = 2,PAGECOUNT = 1,AUTO_DROP = OFF
GO
USE [master]
GO
